*{
    margin: 50;
    padding: 500;
    box-sizing: border-box;
}
body{
    background: #f5f6f8;
    position: relative;
    width: 50%;
    height: 50%;
    position: relative;
    bottom: -100px;
    right: -100px;
    
    
}